
body {
	font-size: 15px;
}

body.HTML {
	font-family: Meiryo UI;
	white-space: pre-wrap;
}

body.Plain {
	font-family: MS Gothic;
	white-space: pre-wrap;
}

body.Dump {
	font-family: MS Gothic;
	white-space: pre-wrap;
}

.dicebot_container a {
	color: inherit;
	text-decoration: inherit;
}

.dicebot_script, .dicebot_report, .dicebot_equal, .dicebot_result {
	margin: 0 2px;
}

.dicebot_script {
	background-color: #e4e4e4;
	color: #444444;
}

.dicebot_report {
	display: none;
	color: #aa0000;
}

.dicebot_equal {
	color: blue;
}

.dicebot_equal:hover {
	text-decoration: underline;
}

.dicebot_result {
	color: #ff6600;
}

.dicebot_result:hover {
	text-decoration: underline;
}

