
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#container {
	padding: 8px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#container table {
	width: 100%;
	height: 100%;
}

#container td {
	vertical-align: middle;
}

#container col {
	width: 50%;
}

#container textarea {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-family: Meiryo UI;
	font-size: 15px;
}

#tr_textarea {
	height: 100%;
}

#dest {
	border: outset black 1px;
	width: 100%;
	height: 100%;
}
